{% extends 'inventory/base.html' %}
{% block title %}Contraseña Restablecida{% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h3 class="mb-0">Contraseña Restablecida</h3>
                </div>
                <div class="card-body">
                    <p>Tu contraseña ha sido restablecida exitosamente. Ahora puedes <a href="{% url 'login' %}">iniciar sesión</a> con tu nueva contraseña.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
